.sessao4{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.719);
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    padding: 6% 0;
}

.contato h2 {
    width: 100%;
    font-size: 1.5em;
    color: rgb(57, 169, 238);
    text-align: center;
    
}

.contato p {
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.562);
}

.contato a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.562);
}

.link_footer a {
    display: flex;
    flex-direction: row;
}

.link_footer h3{
    width: 100%;
    padding: 16%;
    color: rgb(232, 232, 232);
}

.icon_footer{
    font-size: 2em;
    padding: 10%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a{
    width: 50%;
    height: 50%;
}

.logo img {
    width: 100%;
    height: 100%;
} 

.repositorio{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    padding: 6% 0;
}

.repositorio a{
    text-decoration: none;
    color: rgb(232, 232, 232);
}

.link_footer h2{
    width: 100%;
    font-size: 1.5em;
    color: rgb(57, 169, 238);
    text-align: center;
}

.direitos {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    background-color: rgba(0, 0, 0, 0.719);
}

.direitos p {
    color: rgba(255, 255, 255, 0.562);
}