header{
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.cabecalho a img {
    width: 70px;
    background-color: rgba(0, 0, 0, 0);
}

.sessao1>.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.719);
}

.sessao1>.cabecalho>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.562);
    background-color: rgba(0, 0, 0, 0);
}